*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(2, 1, 41);
}
.navbar{
    width: 98%;
    height: 75px;
    display: flex;
    justify-content: space-between;
    padding: 4px;
    background-color: blue;
    border-radius: 15px;
    margin: 12px;
}
#navText{
    font-size: x-large;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 500;
    margin-top: 1%;
    margin-left: 1%;
}
#navDiv{
    width: 25%;
    display: flex;
    justify-content: space-around;
    margin-top: 1%;
    margin-right: 3%;
}
#navDiv a{
    text-decoration: none;
}
#navBut1{
    display: block;
    font-size: x-large;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 500;
    margin-right: 2%;
}
#navBut2{
    font-size: x-large;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 500;
}





.table-wrapper{
    margin: 30px 70px 70px;
    box-shadow: 0px 35px 50px rgba( 0, 0, 0, 0.2 );
    border-radius: 35px;
}

.fl-table {
    border-radius: 5px;
    font-size: x-large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 500;
    border: none;
    border-collapse: collapse;
    width: 100%;
    max-width: 100%;
    white-space: nowrap;
    background-color: white;
    border-radius: 35px;
}

.fl-table td, .fl-table th {
    text-align: center;
    padding: 8px;
    
}

.fl-table td {
    border-right: 1px solid #f8f8f8;
    font-size: 12px;
    height: 45px;
    font-size: large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 500;
}

.fl-table thead th {
    color: #ffffff;
    background: #2206c0;
    height: 55px;
}


.fl-table thead th:nth-child(odd) {
    color: #ffffff;
    background: #1d24ec;
}

.fl-table tr:nth-child(even) {
    background: #F8F8F8;
    height: 45px;
}

/* Responsive */

@media (max-width: 767px) {
    .navbar{
        width: 95%;
    }
    #navBut1{
        display: none;
    }
    .fl-table {
        display: block;
        width: 100%;
    }
    .table-wrapper:before{
        content: "Scroll horizontally >";
        display: block;
        text-align: right;
        font-size: 11px;
        color: white;
        padding: 0 0 10px;
    }
    .fl-table thead, .fl-table tbody, .fl-table thead th {
        display: block;
    }
    .fl-table thead th:last-child{
        border-bottom: none;
    }
    .fl-table thead {
        float: left;
    }
    .fl-table tbody {
        width: auto;
        position: relative;
        overflow-x: auto;
    }
    .fl-table td, .fl-table th {
        padding: 20px .625em .625em .625em;
        height: 55px;
        vertical-align: middle;
        box-sizing: border-box;
        overflow-x: hidden;
        overflow-y: auto;
        width: 120px;
        font-size: 13px;
        text-overflow: ellipsis;
    }
    .fl-table thead th {
        text-align: left;
        border-bottom: 1px solid #f7f7f9;
    }
    .fl-table tbody tr {
        display: table-cell;
    }
    .fl-table tbody tr:nth-child(odd) {
        background: none;
    }
    .fl-table tr:nth-child(even) {
        background: transparent;
    }
    .fl-table tr td:nth-child(odd) {
        background: #F8F8F8;
        border-right: 1px solid #E6E4E4;
    }
    .fl-table tr td:nth-child(even) {
        border-right: 1px solid #E6E4E4;
    }
    .fl-table tbody td {
        display: block;
        text-align: center;
    }
}
#mText{
    color: white;
    font-size: xx-large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 600;
    margin-left: 2%;
}
#mText1{
    color: white;
    font-size: xx-large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 600;
    margin-left: 2%;
    margin-top: 2%;
}
#members{
    width: 60%;
    padding: 20px 20px 20px 20px;
}
#members h1{
    color: white;
    font-size: x-large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 500;
    margin-top: 2%;
    margin-left: 6%;
}